<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../static/jquery/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <script src="../static/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" href="css/font_awesome/css/all.min.css">
    <script src="../static/main.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">IDGS802</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)" onclick="">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)" onclick="">Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)" onclick="">Alumnos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        {%with messages=get_flashed_messages()%}
            {%if messages %}
                {%for message in messages%}
                    <div class="alert alert-success">
                        {{message}}
                    </div>
                {%endfor%}
            {%endif%}
        {%endwith%}

        {%block content%}

        {%endblock%}
    </div>

</body>
</html>